<div class="bg-light" >
  <div class="room_show w-100 my-md-3 ps-md-3">
    <div class="container me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <% if @room.room_image? %>
          <%= image_tag @room.room_image.url, class: "room-image" %>
        <% else %>
          <%= image_tag "default_room.jpg", alt: "メニュー", class: "room-image" %>
        <% end %>

        <div class = "field_room" >
          <div class = "room_profile_image">
            <% if @user.profile_image.present? %>
              <%= image_tag @user.profile_image.url, :size => '65x65', class: "rounded" %> 
            <% else %>
              <%= image_tag "/assets/default.png", :size => '65x65', class: "rounded" %> 
            <% end %>
          </div>
          <p class="room_name"><%= @room.room_name %></p>
          <p>住所：<%= @room.address %></p>
        </div>
          <div class="col-8 col-4-md">
            <p><%= @room.description %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <div class="row">
          <div class="col-10 bg-whihe">
            <%= form_with(model: @room, class: "shadow p-3 mb-3 bg-light rounded", local: true) do |f| %>
              <h5 class="text-start mt-4"><%= @room.fee %> / 日</h5>
              <div class="row mb-3 mt-3">
                <%= f.label :room_name, "ルーム名", class: "col-2 col-form-label text-dark" %></br>
                <div class="col-10">
                  <%= f.text_field :room_name, class: "form-control shadow rounded", placeholder: "ルーム名を入力" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
