<!DOCTYPE html>
<html>
  <head>
    <title>ShukuApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
      <%= render 'layouts/nav' %>
      <%= render 'layouts/messages' %>
  
      <%= yield %>
      <p class="flash-text"><%= flash.notice %></p>
			<p class="flash-text"><%= flash.alert %></p>
      <footer>
        <p>2023 POTEPAN.INC.</p>
      </footer>
      
    </div>
  </body>
</html>
